.contact {
    display: flex;
    gap: 30px;
    background-color: #eeeef4;
    border-radius: 25px;
    padding: 20px;

}

@media (max-width: 750px) {
    .contact__img {
        max-width: 150px;
    }
}

@media (max-width: 650px) {
    .contact__img {
       display: none;
    }
}